{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Personajes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Personajes</h1>
        <ul>
            {% for character in characters %}
            <li><a href="{% url 'character_detail' character.id %}">{{ character.name }}</a></li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_character' %}">Añadir Personaje</a>
        <a href="{% url 'homepage' %}">Volver al Inicio</a>
    </div>
</body>
</html>




